h1 {
    font-family: 'Roboto', sans-serif;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    display: none;
    font-family: 'Open Sans', sans-serif;
}
  
.popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
 
.content-wrapper {
    width: 80%; /* 또는 원하는 폭 */
    margin: 0 auto; /* 좌우 마진을 auto로 설정하여 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.image-container img {
    display: inline-block; /* 이미지가 컨테이너에 맞게 조정되도록 설정 */
    text-align: center; /* 이미지를 중앙에 정렬 */
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.data-note {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.chair-image {
    width: 200px; /* 너비를 200px로 설정 */
    height: auto; /* 높이를 자동으로 조정하여 비율을 유지 */
}
